
@model Kursach3Domain.Entities.LoginModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
    <div class="panel">
        <div class="panel-heading">
            <h3>Вход в систему</h3>
        </div>
        <div class="panel-body">
            <p class="lead">Пожалуйста, войдите в систему, чтобы продолжить:</p>
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary()
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <label>Имя пользователя:</label>
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Пароль:</label>
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                </div>
                <input type="submit" value="Войти" class="btn btn-primary btn-lg" />
                @Html.ActionLink("Регистрация", "Register", "Account", new { @class = "btn btn-default btn-lg" })
            }

        </div>
    </div>
