@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/ErrorStyles.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <title></title>
</head>
<body>
    <div class="navbar navbar-inverse" role="navigation">
        <a class="navbar-brand" href="/">CyberTest - Онлайн тесты</a>
        <a class="navbar-brand left" href="@Url.Action("Index", "Admin")">Тесты</a>
        <a class="navbar-brand left" href="@Url.Action("Index", "Roles")">Роли</a>
        <a class="navbar-brand left" href="@Url.Action("UsersIndex", "Account")">Пользователи</a>
        <a class="navbar-brand left" href="@Url.Action("PicIndex", "Admin")">Изображения</a>
        <a class="navbar-brand left" href="@Url.Action("LessIndex", "Admin")">Лекции</a>
        <a class="navbar-brand left" href="@Url.Action("FileIndex", "Admin")">Файлы</a>
    </div>
    <div class="popover-body" style="margin-left:10%;margin-right:10%;margin-bottom:50px">
        @if (TempData["message"] != null)
        {
            <div class="alert alert-success">@TempData["message"]</div>
        }
        @if (TempData["error"] != null)
        {
            <div class="alert alert-danger">@TempData["error"]</div>
        }
        @RenderBody()
    </div>
    <div class="navbar navbar-fixed-bottom" style="height:70px">
        <div class="panel-footer">
            <div class="container">
                <p class="navbar-text pull-right">
                    © Alex Sh. @DateTime.Now.Year.ToString()
                </p>
            </div>
        </div>
    </div>
</body>

</html>
