@model Kursach3Domain.Entities.TestPreview
@{
    ViewBag.Title = "Админ панель: редактирование теста";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
    <div class="panel">
        <div class="panel-heading">
            <h3>Редактирование теста «@Model.Theme»</h3>
        </div>

        @using (Html.BeginForm("Edit", "Admin",
        FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
    <div class="panel-body">
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.ImgId)
        @Html.HiddenFor(m => m.NumOfQ)
        @Html.HiddenFor(m => m.MaxScore)
        @foreach (var property in ViewData.ModelMetadata.Properties)
        {
            switch (property.PropertyName)
            {

                case "Id":
                case "ImgId":
                case "NumOfQ":
                case "MaxScore":
                    // Ничего не делать
                    break;


                default:
                    <div class="form-group">
                        <label>@(property.DisplayName ?? property.PropertyName)</label>
                        @if (property.PropertyName == "Description")
                        {
                            @Html.TextArea(property.PropertyName, null,
                                     new { @class = "form-control", rows = 5 })
                        }
                        else
                        if (property.PropertyName == "ZNO")
                        {
                            @Html.CheckBoxFor(m => m.ZNO, new { @class = "checkbox" })
                        }
                        else
                        {
                            @Html.TextBox(property.PropertyName, null,
                                new { @class = "form-control" })
                        }
                        @Html.ValidationMessage(property.PropertyName)
                    </div>
                    break;
            }
        }
    </div>
            <div class="panel-footer">
                <input type="submit" value="Сохранить" class="btn btn-primary btn-lg" />
                @Html.ActionLink("Отменить изменения и вернуться к списку", "Index", null, new { @class = "btn btn-warning btn-lg" })
            </div>
        }
    </div>
 