
@model Kursach3Domain.Entities.Answers
@{
    ViewBag.Title = "Админ панель: редактирование теста";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
    <div class="panel">
        <div class="panel-heading">
            <h3>Редактирование ответа</h3>
        </div>

        @using (Html.BeginForm("EditAnswer", "Admin", FormMethod.Post))
        {
            @Html.ValidationSummary();
    <div class="panel-body">
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.QuestionID)
        @foreach (var property in ViewData.ModelMetadata.Properties)
        {
            if ((property.PropertyName != "Id") && (property.PropertyName != "QuestionID"))
            {
                <div class="form-group">
                    <label>@(property.DisplayName ?? property.PropertyName)</label>
                    @Html.TextBox(property.PropertyName, null,
                        new { @class = "form-control" })
                    @Html.ValidationMessage(property.PropertyName)
                </div>
            }
        }
    </div>
                <div class="panel-footer">
                    <input type="submit" value="Сохранить" class="btn btn-primary btn-lg" />
                    @Html.ActionLink("Отменить изменения и вернуться к списку", "Index", null, new { @class = "btn btn-warning btn-lg" })
                </div>
                }
            </div>
            <div class="navbar navbar-default navbar-fixed-bottom">
                <div class="container">
                    <p class="navbar-text pull-right">
                        © Alex Sh. @DateTime.Now.Year.ToString()
                    </p>
                </div>
            </div>


            
