@model Kursach3Domain.Entities.Question
@{
    ViewBag.Title = "Админ панель: редактирование теста";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
    <div class="panel">
        <div class="panel-heading">
            <h3>Редактирование вопроса «@Model.QuestionForm»</h3>
        </div>

        @using (Html.BeginForm("EditQuestion", "Admin",FormMethod.Post))
        {
            @Html.ValidationSummary();
    <div class="panel-body">
        @Html.Hidden("Id", Model.Id)
        @Html.Hidden("TestID", Model.TestID)
        @foreach (var property in ViewData.ModelMetadata.Properties)
        {
            
                switch (property.PropertyName)
                {
                    case "Id":
                    case "ImgId":
                    case "TestID":
                    case "NumOfCorrectAnswers":
                        // Ничего не делать
                        break;
                    default:
                        <div class="form-group">
                            <label>@(property.DisplayName ?? property.PropertyName)</label>
                            @Html.TextBox(property.PropertyName, null, new { @class = "form-control" })
                            @Html.ValidationMessage(property.PropertyName)
                        </div>
                    break;
                }
            }
        </div>
            <div class="panel-footer">
                <input type="submit" value="Сохранить" class="btn btn-primary btn-lg" />
                @Html.ActionLink("Отменить изменения и вернуться к списку", "QuestionIndex", Model.TestID, new { @class = "btn btn-warning btn-lg" })
            </div>
        }
    </div>
